app/.yarn/*
!app/.yarn/patches
!app/.yarn/plugins
!app/.yarn/releases
!app/.yarn/sdks
!app/.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
app/.pnp.*



# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.log
*.bak
userdata.sh

# Environment variables
.env
